model-card-toolkit==1.3.2
keras==2.9.0
aif360==0.4.0
witwidget==1.8.1
matplotlib==3.5.2
seaborn==0.11.2
tensorflow-model-analysis==0.39.0
tensorflow-data-validation==1.8.0
tfx-bsl==1.8.0
torch==1.12.0 
torchvision==0.13.0
captum==0.5.0
lime==0.2.0.1
tensorflow==2.9.1
fairlearn==0.7.0
protobuf==4.21.3